/*For making custom themes, or modding current ones. Paste them up here.*/

*{
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(var(--background-color-light),var(--background-color-dark))
}

a{
    font-weight: bold;
}

button{
    padding: 20px;
    font-size: 24px;
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    background-color: var(--content-background-light);
    margin: 5px;
    border-radius: 20px;
}

.spacer{
    height: 50px;
}

.bigdiv{
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    width: var(--div-size);
    background-color: var(--content-background);
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
}

.navbar{
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.title{
    font-size: 48px;
    font-weight: 600;
}

.text-align{
    text-align: center;
}

.gameFrame{
    overflow: hidden;
}

.imgButton{
    padding: 10px;
    background-color: var(--content-background-light);
    border-radius: 20px;
    box-shadow: 0px 0px 3px 2px var(--accent-color);
}

/* SEARCH */
.search{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    background-color: var(--content-background-light);
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 2px var(--accent-color);
}

.search::placeholder{
    font-size: 20px;
    color: var(--text-color);
}
/* SEARCH */

/* POPULAR GAMES */
.pop-games img{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    height: 170px;
    width: 170px;
    position: relative;
}

.imgHolder{
    margin: 10px;
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    border-radius: 20px;
    padding: 2px;
    background-color: var(--content-background-light);
}

.imgHolder *{
    font-weight: 500;
}
/* POPULAR GAMES */

/* GAMES BOXES */
.small-box{
    margin: 20px;
    padding: 10px;
    text-align: left;
    height: 150px;
    width: 300px;
    background-color: var(--content-background-light);
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    border-radius: 25px;
}

.small-box p{
    font-size: 16px;
}

.small-box img{
    box-shadow: 0px 0px 3px 2px var(--accent-color);
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
/* GAMES BOXES */

/* FILL */
.expand-width{
    width: 100%;
}

.expand-height{
    height: 100%;
}

.overflow-hidden{
    overflow: hidden;
}

.full{
    width: 100vw;
    height: 100vh;
}

.fill-percent{
    width: 100%;
    height: 100%;
}

.fill-width{
    width: 100%;
}

.fill-height{
    height: 100%;
}
/* FILL */


/* FLEX */
.flex{
    display: flex;
}

.flex-grow *{
    flex-grow: 0.1;
}

.center{
    justify-content: center;
    align-items: center;
}

.center-horizontal{
    align-items: center;
}

.center-vertical{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}
/* FLEX */